{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartDateTime</th>
                <th>Duration</th>
                <th>RegistrationLimitDate</th>
                <th>RegistrationMaxNb</th>
                <th>EventInfos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
