body .w3-container
{
    height: 80%;
}

/**********************************NavBar**************************************/
.logo_verre
{
    display: inline;
}

.nom_site
{
    display: inline;
    margin: 0px;
}

.logo_nom_site
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-center{
    display:flex!important;
    justify-content: center!important;
    align-items: center!important;

}

/***********************formulaire accueil***************************************/
.home_form
{
    width: 60%;
}

.aside
{
    width: 15%;
    padding: 20px;
}

.container
{
    display: flex;
    justify-content: space-around;
}

.aside
{
    height: min-content;
    margin:50px;
}
.titre_form_accueil
{
    font-size: 4em;
}


/****************************footer*********************************/
/*footer .w3-container*/
/*{*/
/*    heigth:20%;*/
/*}*/
