{% extends 'layout.html.twig' %}
{% block title %} | Accès refusé {% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="2;URL={{ url('app_login')}}">
{% endblock %}
    {% block body %}
        <br><br>
        <div class="w3-panel">
            <h1>Désolé ! Accès refusé, redirection vers la page d'accueil.</h1>
        </div>
    {% endblock %}